.page-content{
    overflow: hidden;
    }
.card {
     /* Add shadows to create the "card" effect */
     border: 3px solid teal;
     border-radius: 5px;
     width: 100%;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    }
.card-header{
    padding:1%;
    font-size: 40px;
    font-weight: 700;
    border-bottom: 2px solid rgb(192, 192, 192);
    text-align: center;
    color: white;
    }
.card-body{
    padding:5%;
    width: 100%;
}
    /* On mouse-over, add a deeper shadow */
.card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.java{
    border: 3px;
    color: white;
    margin-left: 1000px;
}    

#java1{
    margin-left: 100px;
}

.python{
    border: 3px;
    color: white;
    margin-left: 100px;
    margin-bottom: 100px;
}

#python1{
    margin-left: 100px;
}
body{
    background-image: url(../images/dark.jpg);
}